@font-face {
  font-family: "Manrope";
  src: url("/public/fonts/Manrope.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

.globalCenterContainer {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  font-family: "MyFont", sans-serif;
  background-color: #dddddd;
  color: #111111;
}

.contentContainer {
  max-width: 1200px;
  width: 100%;
  padding: 20px;
}
